
.green {
    color:rgb(12, 187, 178)
}

#white-text {
    color: white;
}

.navbar-brand {
    background-color: rgb(12, 187, 178);
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    font-weight: 600;
    font-size: larger;
}

.navbar-nav {
    margin-left: auto;
}

.margin-right {
    margin-right: 20px;

}

h1 {
    color:rgb(12, 187, 178);
    font-weight: bold;
    padding: 20px;
}

h2 {
    padding: 20px;
    font-weight: bold;
    margin: 0px;
}

h3 {
    color: rgb(12, 187, 178);
    text-align: center;
    font-size: large;
    font-weight: bold;
}

img {
    float: left;
}

p {
    font-size: medium;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

.boxbar {
    border: 1px solid lightgrey;
    margin: 10px;
}

.chartsize  {
    width: 50%;
    margin-right: 16px;
}

#chart {
    display: inline-block;
    margin: auto;
    align-self: center;
}


body {
    padding: 10px;
    background-color: lightgrey;
}

.col-md-12 {
    background-color: white;
}

.container {
    padding: 20px;
    margin-top: 20px;
    margin: 20px;
    align-items: center;
    align-self: center;
}

.col-md-8 {
    background-color:white;
    padding: 20px;
    background-clip: content-box;
}

.col-md-4 {
    padding: 20px;
    background-clip: content-box;
    background-color: white;
}

.dropdown {
    float: right;
}


@media (max-width: 775px) {
    body {
        background-color: white;
    }
    nav {
        background-color: rgb(12, 187, 178);
    }

}